/* ==========================================================================
    Imports
========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);



/* ==========================================================================
   Font
========================================================================== */
html, body, p, h1, h2, h3, h4 {
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
    font-weight: 250;
    color: white;
    /*font-size: 18px;*/
    /*font-weight: 300;*/
}




/* 
   Bigger stuff
========================================================================== */

body, html {
    color: black;
    height: 100%;
    font-size: 18px;
    min-height: 100%;
}
/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 0px;
}
section {
    min-height: 100%;   
    height: 100%;
    background-color: white;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: rgba(255,255,255,0.5);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0,0,0,0.8);
}


/* 
    section backgrounds
========================================================================== */

section#home {
    background-image: url("../images/losangeles.jpg");
    li.active {font-weight:bold;}
}

section#story {
    background-image: url("../images/stockholm.jpg");
}

section#family {
    background-image: url("../images/forest.jpg");
}

section#portfolio {
    background-image: url("../images/losangeles2.jpg");
}

section#join-the-team {
    background-image: url("../images/stockholm2.jpg");
}

section#press {
    background-image: url("../images/trees.jpg");
}

section#contact {
    background-image: url("../images/santamonicapier.jpg");
}

/* 
    Side bar
========================================================================== */



/* 
    Vertical alignments   
========================================================================== */

.vertical-container {
    height: 100%;
    width: 100%;
    display: table;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    /*min-height: 100%;*/
}

.vertical-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}


